@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main !important;
    min-height: 100vh;
    background-color: map-get($colors, background);
    color: map-get($colors, primary);
}
