@import 'variables';

.navbar {
    background: white;
    border-bottom: 1px solid map-get($colors, border);
}

footer {
    position: relative;
    width: 100%;
    text-align: center;
    background: white;
    padding: 20px 0;
    bottom: 0;

    a {
        text-decoration: none;
        color: map-get($colors, secondary);

        &:hover {
            text-decoration: underline;
        }
    }
}

.navbar {
    @include flex-center;
    background: white;

    @include responsive(mobile) {
        flex-direction: column;
    }
}