// Variables globales
$primary-color: #000;
$secondary-color: red;
$background-color: #f4f4f4;
$border-color: #0f0f0f;
$font-main: "Inconsolata", serif;

$colors: (
    primary: #000,
    secondary: red,
    background: #f4f4f4,
    border: #0f0f0f
);
